<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1第1章_Java多线程技能/src/_1_2使用多线程/_3实例变量与线程安全/Test3ShareData_Safe.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_1_2使用多线程._3实例变量与线程安全.Test3ShareData_Safe"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1第1章_Java多线程技能"/>
</launchConfiguration>
